{% from "_header-navbar.html" import mac_topnav %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
          <!--morrisJS-->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
          <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" rel="stylesheet" />
    <!-- material icon -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->
    <!-- Font awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />  
    <!-- Custom -->
    <link rel="stylesheet" href="{{url_for('static', filename='dist/css/aespect-individual.css')}}">

    <!-- Bootstrap -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <script type="text/javascript">

class Utils
{
  calc_percent(target,total){
    return (target*100)/total;
  }
}

// data = {"Positive":300 ,"Neutral":200, "Negative":100}
function morrisjsPie(rdata,id)
{
  var ndata = [];
  var total = Object.values(rdata).reduce((partialSum, a) => partialSum + a, 0);
  var util = new Utils();

  for (const [key, val] of Object.entries(rdata))
  {
    var temp = {label : Math.round(util.calc_percent(val,total))+"%" , value:val, color:null};
    if(key.toUpperCase() === "Positive".toUpperCase())
    {
      temp["color"] = 'green';
    }
    else if(key.toUpperCase() === "Neutral".toUpperCase())
    {
      temp["color"] = 'yellow';
    }
    else if(key.toUpperCase() === "Negative".toUpperCase())
    {
      temp["color"] = 'red';
    }
    ndata.push(temp);
  };

  Morris.Donut({
    element: 'ratio-pie-'+id, 
    resize: true,
    redraw: true,
    data: ndata
  });

  $('#ratio-pie-'+id).resize(function () {
  bar.redraw();

});
    
}

// data = {"label":["Postive","Neutral","Negative"], "mean":[.85,.13,.67],"std":[.1,0,1.3],"count":[163,37,60], "max":[100,30,10] , "min":[0,1,2]}
function chartjsBubble(dt,id)
{   
    function calc(value){
      return (Math.log(value+1+1) / Math.LN10)*100;
    }

    var bias = .15;

    var bg_color =  ["lightgreen", "#fdf9d6","#FF7061"]
    var border_color = ['#28a745', '#ffc107',"red" ] 


    new Chart(document.getElementById("stat-bubble-chart-"+id), {
    type: 'bubble',
    data: {
      datasets: [
        {
          label: dt["label"][0],
          backgroundColor: bg_color[0],
          borderColor: border_color[0],
          data: [{
            x: dt["skewness"][0],
            y: dt["kurtosis"][0],
            r: dt["mean"][0] == 0 ? 0 : (dt["std"][0]+bias)*100 
            // r: (dt["std"][0]+bias)*100
          }]
        }, {
          label: dt["label"][1],
          backgroundColor: bg_color[1],
          borderColor: border_color[1],
          data: [{
            x: dt["skewness"][1],
            y: dt["kurtosis"][1],
            r: dt["mean"][1] == 0 ? 0 : (dt["std"][1]+bias)*100 
            // r: (dt["std"][1]+bias)*100
          }]
        }, {
          label: dt["label"][2],
          backgroundColor: bg_color[2],
          borderColor: border_color[2],
          data: [{
            x: dt["skewness"][2],
            y: dt["kurtosis"][2],
            r: dt["mean"][2] == 0 ? 0 : (dt["std"][2]+bias)*100 
            // r: (dt["std"][2]+bias)*100
          }]
        },
      ]
    },
    options: {
        tooltips: {
          displayColors: false, //color box in tooltip
          callbacks: {
            title: function(context) {
                return dt["label"][context[0].datasetIndex];
            },

            label: function(context) {
                // console.log(context)
                return "";
            },
            afterLabel: function(context) {
                var min = dt["min"][context.datasetIndex];
                var max = dt["max"][context.datasetIndex];

                return 'Mean : ' + dt["mean"][context.datasetIndex] +'\n' +
                       'Standard Deviation : ' + dt["std"][context.datasetIndex] +'\n' +
                       'Skewness : ' + dt["skewness"][context.datasetIndex] +'\n' +
                       'Kurtosis : ' + dt["kurtosis"][context.datasetIndex] +'\n' +
                       'Min : '+ min +' \t Max : '+ max;
            }                                   
          }
      },        
      legend: {
        labels : {
            boxWidth: 13,
        },
        display: false
      },    
      title: {
        display: false,
        text: 'Statistics'
      }, scales: {
        yAxes: [{ 
          scaleLabel: {
            display: true,
            labelString: "Kurtosis"
          }
        }],
        xAxes: [{ 
          scaleLabel: {
            display: true,
            labelString: "Skewness"
          }
        }]
      }
    }
});

}


function classy(dt,id)
{
  var dt_keys = Object.keys(dt);

  var pos = [];
  var neu = [];
  var neg = [];

  Object.entries(dt).forEach(([key, value]) => {
	    pos.push(dt[key][0]);
      neu.push(dt[key][1]);
      neg.push(dt[key][2]);
  });

  var horizontalBarChart = new Chart("horizontalBarChartCanvas-"+id, {
   type: 'horizontalBar',
   data: {
		labels: dt_keys,
		datasets: [{
			label: 'Positive',
			backgroundColor: "#4fb37f",
			data: pos,
		}, {
			label: 'Neutral',
			backgroundColor: "#f8cf47",
			data: neu,
		}, {
			label: 'Negative',
			backgroundColor: "#ec4c35",
			data: neg,
		}],
	},   
   options: {
    scales: {
      xAxes: [{
          stacked: true,
        }],
      yAxes: [{
          stacked: true
        }]
      },
      tooltips: {
        enabled: true
      },
      responsive: true,
      legend: {
         display: false,
         position: 'bottom',
         fullWidth: true,
         labels: {
           boxWidth: 10,
           padding: 50
         }
      },
   }
});


}



function sentiOverTime_dataProcess(data,type)
{ 
    var labels = []
    var pos_data = []
    var neu_data = []
    var neg_data = [] 

    for (const [month, content] of Object.entries(data)) {
      labels.push(month);
      pos_data.push(data[month][type][0])
      neu_data.push(data[month][type][1])
      neg_data.push(data[month][type][2])
    }
    
    var processed_data =  {"labels":labels, "Positive":pos_data, "Neutral":neu_data ,"Negative":neg_data};
    return processed_data
}

function sentiOverTime(dt,id)
{

  var id_name = "sentiovertimeBarChart-"+id
  var drop_year_id = id_name+"_DropdownBox-Year"
  var drop_type_id = id_name+"_DropdownBox-Type"


  var densityCanvas = document.getElementById(id_name);
  Chart.defaults.global.defaultFontFamily = "sans-serif";

  var types = {"frequency":"Frequency","score":"Score"}// HARDCODED {value_in_data,name_in_drop}

  sentiOverTime_TypeDropCreate(drop_type_id,types);
  sentiOverTime_TimeDropCreate(drop_year_id,Object.keys(dt));
  
  var cur_year= $("#"+ drop_year_id).val();
  var cur_type= $("#"+ drop_type_id).val();

  var result = sentiOverTime_dataProcess(dt[cur_year],cur_type)

  var posData = {
    label: 'Positive',
    data: result["Positive"],
    backgroundColor: '#4fb37f',
    borderColor: '#4fb37f',
    yAxisID: "percentage"
  };
 
  var neuData = {
    label: 'Neutral',
    data: result["Neutral"],
    backgroundColor: '#f8cf47',
    borderColor: '#f8cf47'
  };

  var negData = {
    label: 'Negative',
    data: result["Negative"],
    backgroundColor: '#ec4c35',
    borderColor: '#ec4c35'
  };

  var allData = {
    labels: ['January','February','March','April','May','June','July','August','September','October','November','December'], // result["label"]
    datasets: [posData, neuData, negData]
  };

  var chartOptions = {
    legend: {
      display: false
      },
    scales: {
      xAxes: [{
        barPercentage: .3,
        }],
      yAxes: [{
        id: "percentage"
        }]
    }

  };
 
  var barChart = new Chart(densityCanvas, {
    type: 'bar',
    data: allData,
    options: chartOptions
  });  

  sentiOverTime_DropEvent(drop_year_id,drop_type_id,barChart,dt);
}

function sentiOverTime_TimeDropCreate(drop_year_id,timedata)
{
  for(let i=0;i<timedata.length; i++)
  {
    $("#"+drop_year_id).append("<option value='"+timedata[i]+"'>"+timedata[i]+"</option>")
  }
}

function sentiOverTime_TypeDropCreate(drop_type_id,typedata)
{
  for (const [key, value] of Object.entries(typedata)) {
    $("#"+drop_type_id).append("<option value='"+key+"'>"+value+"</option>")
  }
}

function sentiOverTime_DropEvent(drop_year_id,drop_type_id,chart,mdata)
{

  function applyCurrentChange()
  {
    var cng_year = $("#"+drop_year_id).val();
    var cng_type = $("#"+drop_type_id).val();

    var data = sentiOverTime_dataProcess(mdata[cng_year],cng_type)

    chart.data.datasets[0].data = data["Positive"]
    chart.data.datasets[1].data = data["Neutral"]
    chart.data.datasets[2].data = data["Negative"]
    chart.update()
  }

  $('#'+drop_year_id).change(function(){
    applyCurrentChange();
  });

  $('#'+drop_type_id).change(function(){
    applyCurrentChange();
  });

}


function timeBar(){
  var densityCanvas = document.getElementById("sentiovertimeBarChart");

Chart.defaults.global.defaultFontFamily = "sans-serif";
// Chart.defaults.global.defaultFontSize = 18;
var dt = {}
var posData = {
  label: 'Positive',
  data: [10, 8, 5, 16, 3, 5, 7, 9.30,34,10],
  backgroundColor: '#4fb37f',
  borderColor: '#4fb37f',
  yAxisID: "percentage"
};
 
var neuData = {
  label: 'Neutral',
  data: [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0,23,20],
  backgroundColor: '#f8cf47',
  borderColor: '#f8cf47'
};

var negData = {
  label: 'Negative',
  data: [3.7, 8.9, 9.8, 3.7, 23.1, 9.0, 8.7, 11.0,30,10],
  backgroundColor: '#ec4c35',
  borderColor: '#ec4c35'
};
 
var allData = {
  labels: ["January", "February", "March", "April", "May", "June", "July", "October" ,"November", "December"],
  datasets: [posData, neuData, negData]
};
 
var chartOptions = {
  legend: {
            display: false
        },
  scales: {
    xAxes: [{
      barPercentage: .3,
      // categoryPercentage: 0.6

    }],
    yAxes: [{
      id: "percentage"
    }]
  }
};
 
var barChart = new Chart(densityCanvas, {
  type: 'bar',
  data: allData,
  options: chartOptions
});

return barChart
}        
        
function cloudEventController(charts, id)
{
  let img_id = "wordcloud-" + id
  let all_btn_id = "cloud-toggle-all-" + id
  let pos_btn_id = "cloud-toggle-pos-" + id
  let neu_btn_id = "cloud-toggle-neu-" + id
  let neg_btn_id = "cloud-toggle-neg-" + id
  let na_img = "{{url_for('static', filename='dist/img/Image_not_available.png')}}"

  function deactivate_all()
  {
    $('#'+all_btn_id).removeClass('onactive');
    $('#'+pos_btn_id).removeClass('onactive');
    $('#'+neu_btn_id).removeClass('onactive');
    $('#'+neg_btn_id).removeClass('onactive');
  }
 
  $('#' + all_btn_id).click(function(){
    deactivate_all();
    $(this).addClass("onactive");

    if(charts["ALL"] != null)
    {
      $('#'+img_id).attr('src', 'data:image/png;base64,'+charts["ALL"]);
    }
    else
    {
      $('#'+img_id).attr('src', na_img);
    }
  });

  $('#' + pos_btn_id).click(function(){
    deactivate_all();
    $(this).addClass("onactive");
    
    if(charts["POSITIVE"] != null)
    {
      $('#'+img_id).attr('src', 'data:image/png;base64,'+charts["POSITIVE"]);
    }
    else
    {
      $('#'+img_id).attr('src', na_img);
    }
  });
  
  $('#' + neu_btn_id).click(function(){
    deactivate_all();
    $(this).addClass("onactive");
    
    if(charts["NEUTRAL"] != null)
    {
      $('#'+img_id).attr('src', 'data:image/png;base64,'+charts["NEUTRAL"]);
    }
    else
    {
      $('#'+img_id).attr('src', na_img);
    }
  });
  
  $('#' + neg_btn_id).click(function(){
    deactivate_all();
    $(this).addClass("onactive");

    if(charts["NEGATIVE"] != null)
    {
      $('#'+img_id).attr('src', 'data:image/png;base64,'+charts["NEGATIVE"]);
    }
    else
    {
      $('#'+img_id).attr('src', na_img);
    }
  });  
}

function textCapitalizer(string)
{
  return string.charAt(0).toUpperCase() + string.slice(1);
}


function overviewInfluence(data)
{
  var ctx = document.getElementById('overviewchartVerticalBar').getContext('2d');

  var labels_value = Object.keys(data);
  var data_value = Object.values(data);

  var background_color = [];

  for (var i = 0; i < data_value.length; i++) {
    if(data_value[i] > .30)
    {
      background_color.push("#4fb37f")
    }
    else if(data_value[i] < -.30)
    {
      background_color.push("#ec4c35")
    }
    else{
      background_color.push("#f8cf47")
    }
  }

  var chart = new Chart(ctx, {

    type: 'bar',

    data: {
      labels: labels_value,
      datasets: [{
        backgroundColor: background_color,
        data: data_value,
      }]
    },

    options: {
      legend: {
            display: false
      },
      responsive: true,
      title: {
        display: false,
        text: 'Chart type: Vertical bar simple'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true,
      },
      scales: {
        xAxes: 
        [{
          barPercentage: .3,
          display: true,
          scaleLabel: {
            display: false,
            labelString: 'Aspects'
          }
        }],
        yAxes: [{
          ticks: {
            beginAtZero: true
          },
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Influence Score'
          }

        }]
      }
    }
  });

}

function setmodal_description(keyword)
{
  token = {{modal_info  | tojson }}
  document.getElementById("modalDescription").innerHTML = token[keyword];
  document.getElementById("Modal-HighCard-InfoLabel").innerHTML = keyword;
}

window.onload=function(){

  let overview_data = {};

  {% for row in data %}

    morrisjsPie( {{ row.Chart_SentRatio | tojson }} , {{ loop.index0 }});
    chartjsBubble({{ row.Chart_Stat | tojson }}, {{ loop.index0 }});
    classy({{ row.Chart_Classy | tojson }}, {{ loop.index0 }});
    sentiOverTime({{ row.Chart_Overtime | tojson }}, {{ loop.index0 }});
    cloudEventController({{ row.Chart_Cloud | tojson }},{{ loop.index0 }})
    
    overview_data["{{ row.name.title() }}"] = {{ row.influence|float }}
    
  {% endfor %}

  overviewInfluence(overview_data)

}



</script>
<body>

  {{ mac_topnav(file,3) }}
  
  <div class="container-fluid">

  <div class="card my-lg-5" style="box-shadow: #38bdf8 0px 0px 0px 2px, #5DADE2 0px 4px 6px -1px;">
    <div style="background-color: #38bdf8; box-shadow: #38bdf8 0px 0px 0px 2px, #5DADE2 0px 4px 6px -1px">
      <h3 class="py-2" style="color: white; text-align: center;">Summary</h3>
    </div>
    <div class="card-body" style="padding: 30px;">
      <canvas id="overviewchartVerticalBar" height="80px"></canvas>
    </div>
  </div>


  {% for row in data %}

    <div class="row my-lg-5">
      <div class="col"> 
        <div class="card"  style="box-shadow: #38bdf8 0px 0px 0px 2px, #5DADE2 0px 4px 6px -1px;">
          <div class="card-body">
            <div class="row">
              <h3 class="card-title" style="text-align: center;">{{ row.name.title() }}</h3>

              <div class="row align-self-center w-75" style="margin: 0 auto; padding:40px">

                <div class="col">
                  <div class="card h-100 border-0" style="width:150px ;margin: 0 auto; padding: 20px; background-color: #fdf6ff;">
                     <span class="d-flex justify-content-end" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Modal-HighCard-Info" type="button" onclick="setmodal_description('Influence Score')">
                        <i class="fa-solid fa-circle-question" style="color: #8E44AD;"></i>
                     </span>
                    <div class="row" style="margin: 0 auto;">
                      <div class="col-4" >
                        <i class="fa-solid fa-magnet fa-2x" style="color: #8E44AD;"></i>
                      </div>
                    </div> 
                    <div style="text-align: center;">
                      <div style="font-size: 20px;">
                        {{'%0.2f' % row.influence|float}}
                      </div>
                      <div class="text-muted">
                        Influence <br> Score
                      </div>
                    </div>                
                  </div>
                </div>
        
                <div class="col">
                  <div class="card h-100 border-0" style="width:150px ;margin: 0 auto; padding: 20px; background-color: #f5fcfe;">
                    <span class="d-flex justify-content-end" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Modal-HighCard-Info" type="button" onclick="setmodal_description('Total Found')">
                      <i class="fa-solid fa-circle-question" style="color: #17a2b8;"></i>
                   </span>
                    <div class="row" style="margin: 0 auto;">
                      <div class="col-4" >
                        <i class="fa-solid fa-book fa-2x" style="color: #17a2b8;"></i>
                      </div>
                    </div> 
                    <div style="text-align: center;">
                      <div style="font-size: 20px;">
                        {% set total = namespace(value=0) %}
                        {% for key, value in row.Chart_SentRatio.items() %}
                          {% set total.value = total.value + value %}
                        {% endfor %}
                        {{ total.value }}
                      </div>
                      <div class="text-muted">
                        Total <br> Found
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100 border-0" style="width:150px ;margin: 0 auto; padding: 20px; background-color: #fffbf4;">
                    <span class="d-flex justify-content-end" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Modal-HighCard-Info" type="button" onclick="setmodal_description('Most Controversial')">
                      <i class="fa-solid fa-circle-question" style="color: #F39C12;"></i>
                   </span>
                    <div class="row"  style="margin: 0 auto;">
                      <div class="col-4">
                        <i class="fa-solid fa-bolt fa-2x" style="color: #F39C12;"></i>
                      </div>
                    </div> 
                    <div style="text-align: center;">
                      <div style="font-size: 20px;">
                        {% set max_val = namespace(value= row.Chart_Stat.std | max) %}
                        {% if row.Chart_Stat.std[0] == max_val.value %}
                           Positive  
                        {% elif row.Chart_Stat.std[1] == max_val.value %}
                           Neutral 
                        {% elif row.Chart_Stat.std[2] == max_val.value %}
                           Negative 
                        {% else %}
                           None 
                        {% endif %}
                      </div>
                      <div class="text-muted">
                        Most Controversial
                      </div>
                    </div>
                  </div>
                </div>    
                
                <div class="col">
                  <div class="card h-100 border-0" style="width:150px ;margin: 0 auto; padding: 20px; background-color: #f3fefc;">
                    <span class="d-flex justify-content-end" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Modal-HighCard-Info" type="button" onclick="setmodal_description('Most Dominant')">
                      <i class="fa-solid fa-circle-question" style="color: #48C9B0;"></i>
                   </span>
                    <div class="row" style="margin: 0 auto;">
                      <div class="col-4" >
                        <i class="fa-solid fa-crown fa-2x" style="color: #48C9B0;"></i>
                      </div>
                    </div> 
                    <div style="text-align: center;">
                      <div style="font-size: 20px;">
                        {% set max_val = namespace(value= row.Chart_Stat.mean | max) %}
                        {% if row.Chart_Stat.mean[0] == max_val.value %}
                           Positive  
                        {% elif row.Chart_Stat.mean[1] == max_val.value %}
                           Neutral 
                        {% elif row.Chart_Stat.mean[2] == max_val.value %}
                           Negative 
                        {% else %}
                           None 
                        {% endif %}
                      </div>
                      <div class="text-muted">
                        Most Dominant
                      </div>
                    </div>
                  </div>
                </div>   

              </div>

                <div class="d-flex justify-content-around">
                  <div class="col-3 card rounded-0 h-100">
                  <span class="m-2" style="font-weight: bold;">Sentiment Ratio</span>
                  <div style="height: 230px;" id="ratio-pie-{{loop.index0}}"></div>
                  </div>  
                  <div class="col-5 card rounded-0 h-100">
                    <div>
                      <span style="font-weight: bold;" class="mr-auto p-2">Statistics</span>
                      <span class="p-2" style="margin-left:395px" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#Modal-HighCard-Info" type="button" onclick="setmodal_description('Statistics')">
                        <i class="fa-solid fa-circle-question" style="color: black;"></i>
                      </span>                    
                    </div>
                    <canvas id="stat-bubble-chart-{{ loop.index0 }}" class="p-3" height="280"></canvas>
                  </div>  
                  <div class="col-4 card rounded-0 h-100">
                    <span class="m-2" style="font-weight: bold;">Category</span>
                    <canvas id="horizontalBarChartCanvas-{{loop.index0}}" class="p-3" height="250"></canvas>
                  </div>                   
                </div>
              </div>
              
              <div class="row h-100">
                <div class="d-flex justify-content-around">
                  <div class="col-4 card rounded-0" style="margin: 0; padding:0">
                    <span class="m-2" style="padding-left: 15px; font-weight: bold;">Buzz Words</span>
                    <div class="row w-100" style=" margin: 0 auto; text-align: center;">
                      <div class="col wc_toggle_all onactive" id="cloud-toggle-all-{{ loop.index0 }}">All</div>
                      <div class="col wc_toggle_pos" id="cloud-toggle-pos-{{ loop.index0 }}" >Positive</div>
                      <div class="col wc_toggle_neu" id="cloud-toggle-neu-{{ loop.index0 }}">Neutral</div>
                      <div class="col wc_toggle_neg" id="cloud-toggle-neg-{{ loop.index0 }}">Negative</div>
                    </div>
                    {% if row.Chart_Cloud.All == None %}
                      <img  src="{{url_for('static', filename='dist/img/Image_not_available.png')}}">
                    {% else %}         
                      <img class="m-3" id = "wordcloud-{{ loop.index0 }}" src="data:image/png;base64,{{row.Chart_Cloud.ALL}}"/>
                    {% endif %}
                  </div>
                  
                  <div class="col card rounded-0 m-0">
                    <div class="row m-2" style="margin: 0;">
                      <div class="col" style="font-weight: bold;">Sentiment Over-time</div>
                      <div class="col d-flex justify-content-end">
                        <span class="px-3" >Filter by</span>
                        <span class="px-1">Year: </span>
                        <select name="" id="sentiovertimeBarChart-{{loop.index0}}_DropdownBox-Year">
      
                        </select>
                        <span class="px-1">Type: </span>
                        <select name="" id="sentiovertimeBarChart-{{loop.index0}}_DropdownBox-Type">
      
                        </select>
                      </div>
                    </div>
                      <canvas class=" p-4" id="sentiovertimeBarChart-{{loop.index0}}" height="300"></canvas> 
                  </div>

                </div> 
              </div>

            </div>
          </div>
        </div>
      </div>

  {% endfor %}

      <!-- <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Overall Score</h5>
                    word cloud or any frequency chart goes here
                    try heatmap
                </div>
            </div>
        </div>
     </div>   -->

  </div>


  
<!-- Modal -->
<!-- Hi-Card -->
<div class="modal fade" id="Modal-HighCard-Info" tabindex="-1" aria-labelledby="Modal-HighCard-InfoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Modal-HighCard-InfoLabel">...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalDescription">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>